* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container--blog {
    margin: 80px 80px 50px 50px;
}

.p {
    font-family: MADE TOMMY;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}
h1 {
    margin-bottom: 20px;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 133.333% */
  }
.autor {
color:var(--text-text-secondary rgba(34,34,34, 0,80));
font-family: MADE TOMMY;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px;   
}

time {
    margin-bottom: 20px;
    font-size: 10.5px;
    font-style: normal;
    line-height: 24px; /* 228.571% */
    letter-spacing: 1.68px;
    text-transform: uppercase;
    font-weight: 400;
  }
section {
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    background: #f4f5f7;
    margin-bottom: 40px;
    padding: 45px 61px;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: #222;
    transition: 0.3s;
  }
  section:hover{
    background: #23213d;
  }
  section:hover *{
    color: #fff;
  }
  section:hover .autor p{
    color: #fff;
  }
  section:hover figure {
    display: block;
    transform-origin: 50% 0;
    transition: 0.3s;
    animation: shakes 1s linear;
    animation-iteration-count: 1;
  }
  article p {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }
  section:nth-of-type(2) article p {
    font-style: italic;
    font-weight: 400;
  }
  section:nth-of-type(2) article p:nth-last-of-type(1) {
    text-align: end;
    font-size: 14px;
    font-weight: 700;
  }
  article ul {
    padding: 0 10px 0 40px;
    margin-bottom: 10px;
  }
  artilce ul li {
    margin-bottom: 20px;
  }
  article ul li a {
    color: #222;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
  }
  .autor {
    margin-top: 30px;
  }
  .autor p {
    margin-bottom: 5px;
    color: rgba(34, 34, 34, 0.8);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 32px; */
  }
  .autor p:nth-last-child(1) {
    color: rgba(34, 34, 34, 0.8);
    font-size: 16px;
    font-weight: 400;
  }
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }
  
.figure {
    animation: horizontal-shaking;
}